/* Import Google Font -Poppins */
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200&family=Cairo:wght@300&family=IBM+Plex+Sans:ital,wght@0,400;1,500&family=Island+Moments&family=Nunito:wght@300;700;800;900&family=Poppins:ital,wght@0,200;1,200;1,500&family=Roboto+Condensed&family=Roboto:ital,wght@1,300&family=Rowdies:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: gray;
}

.wrapper {
    margin: 50px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 265px);
}

.wrapper li {
    height: 250px;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    padding: 15px 2px 2px;
}

.add-box .icon,
.botton-contect {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-box {
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.add-box .icon {
    height: 78px;
    width: 78px;
    color: #88ABFF;
    font-size: 40px;
    border-radius: 50%;
    justify-content: center;
    border: 2px dashed #88ABFF;
}

.add-box p {
    color: #88ABFF;
    font-weight: 500;
    margin-top: 20px;
}

.wrapper .note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.note p {
    font-size: 22px;
    font-weight: 500;
}

.note span {
    display: block;
    margin-top: 5px;
    color: #575757;
    font-size: 16px;
}

.note .botton-contect {
    padding-top: 10px;
    border-top: 1px solid #ccc;
}